body {
    margin: 0;
    padding: 0;
    height: 2700px;
    background-color: rgba(245, 245, 245, 1);
  
  }
  
  #home{
    background-attachment: fixed;
    background-position: top;
    height: 20cm;
    background-size:cover ;
    padding-top: 1cm;
  }
   .menu  {
      list-style-type: none;
      padding: 0;
      overflow: hidden;
      border-radius: 10px;  
      margin-left: 1cm;
      margin-right: 2cm;  
      padding-top: 2px;
      font-family:"Open Sans",Sans-serif ;
      <!--  position: fixed; -->
  
    }
    
    li {
      float: inline-start;
    }
    
    li a {
      display: block ;    
      color:white;
      text-align: center;
      padding: 16px;
      text-decoration: none;
    }
  
    #VisualizingCancer{
      margin-top: 0.7cm;
      margin-left: 1cm;
      margin-right: 4cm;
      color: rgb(242, 2, 2 );
      font-family:"Open Sans",Sans-serif ;
      font-size: 230%;
    }
    .menu .bar a:hover {
      color: rgb(242, 2, 2 );
    }
  
    .bar{
      font-family:"Open Sans",Sans-serif ;
    }
    .hero-title {
        text-align: center;
        margin-top: 4cm;
        color: white;
    
      }
      .hero-title h1{
        font-size: 350%;
        font-family:"Open Sans",Sans-serif ;
    
      }
      .hero-title h3{
        font-family:"Open Sans",Sans-serif ;
        font-size: 150%;
      }
    .underline {
        width: 90px; 
        height: 4px; 
        background-color: red; 
        border-radius: 5px;
     }

     footer{
        margin-top: 10px;
        background-color: #000000;
        color: white;
        height: 150px;
        opacity: 0.9;
        text-align: center  ;
      }
      