

#home{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.65)), url('../img/gty_231012_medical_records_database_800x450.avif');
 
}
 
  .underline{
    margin: 10px auto; 

  }



  #txt1{
    margin-top: 1.3cm;
    font-size: 140%;
    font-family: "Roboto", sans-serif;
    color: rgba(64, 64, 64, 1);
    text-align: center;

  }
  .txt2 ,.element2 {
    font-family:"Open Sans",Sans-serif ;
    font-size:140%;
    text-align: center;
    margin-top: 5cm;
    color: rgba(2, 1, 1, 1);
    
    }
    .element1-left,.element1-right{
      display: inline-block;
      vertical-align: top; 
      margin-top: 60px;

        }
 
    .element1-left {
      margin-left: 4cm;
    }

    
    .element1-right {
      margin-right: 3cm;
      margin-left: 70px;
    }
  .element1 h3 {
    font-family:"Open Sans",Sans-serif ;
    text-align: center;
    margin-top: 50px;
  }
  .element1 h5,.element2 h5{
    font-family:"Open Sans",Sans-serif ;
    color: #696b6d;
    line-height: 1.8;
    font-size:90%;

  }
.element1 button{ 
  background-color:#F32144;
  border-radius: 15px;
  border: white;
  height: 35px;
  width: 150px;
  color: white  ;
  font-family:"Roboto",Sans-serif ;
  font-size:100%;
  font-weight: 270;
  cursor: pointer;
} 
.element1-right button{
  margin-left: 180px;
}
.element1-left button{
  margin-left: 160px;
 
}
/* here*/
.extra {
  display: none;
  margin-top: 0px;
}
.dots{
  display: inline;
}
input[type="checkbox"] {
  display: block;
  appearance: none;
}

label {
  border-radius: 15px;
  position: relative;
  padding: 12px;
  font-family:"Roboto",Sans-serif ;
  margin-top: 0px;
  background-color: #F32144;
  color: white;
  cursor: pointer;
  margin-left: 160px;
}
label:hover{
  background-color: #C91432;
}
label:before {
  content: "Read more";
}
input[type="checkbox"]:checked ~ label:before {
  content: "Read less";
}
/* here*/

.element1 button:hover{
  background-color: #C91432;
}
.element2{
  margin-left: 100px;
}
.underline2 {
  width: 90px; 
  height: 4px; 
  background-color: red; 
  margin: 10px auto; 
  border-radius: 5px;
  float: inline-start;
 }
.element2 img{
  float: right;
  margin-right: 160px;
  border-radius: 20px;
}

footer{
  margin-top: 10px;
  background-color: #000000;
  color: white;
  height: 150px;
  opacity: 0.9;
  text-align: center  ;
}

